.admin__nav__container {
  height: 65px;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}
.admin__nav__container .admin__webinord__logo {
  padding: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.admin__nav__container .admin__webinord__logo img {
  width: 120px;
}
.admin__nav__container .dropdown__container {
  background-color: black;
  margin-left: auto;
}
.admin__nav__container .dropdown__container button {
  background-color: #000;
  color: #fff;
}

main {
  min-height: inherit;
  margin-top: -65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .dashboard__container {
  margin-top: 65px;
}
main .container {
  max-width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .container .pagesContainer {
  width: calc(100% - 250px);
  padding: 20px;
}
main .container .pagesContainer table {
  margin-top: 20px;
}
main .container .formContainer {
  width: calc(100% - 250px);
}
main .container table tbody tr .mediaData {
  height: 4rem;
  padding: 0.5rem 1rem;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
}
main .container table tbody tr .mediaData .mediaFile {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  height: 100px;
}
main .adminNav {
  min-width: 250px;
  margin-top: 65px;
  min-height: inherit;
  background-color: #000;
}
main .adminNav .dashboard__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin: 20px 0px;
  padding: 10px 0px;
}
main .adminNav .dashboard__div a {
  color: #fff;
  text-decoration: none;
}
main .adminNav .sectionDiv {
  width: 100%;
  min-height: 85%;
  overflow-y: auto;
  overflow-x: hidden;
}
main .adminNav .sectionDiv #general {
  text-decoration: underline;
  width: 100%;
  padding: 10px;
}
main .adminNav .sectionDiv p {
  padding: 10px 0px;
  color: #9ca3af;
  font-size: 14px;
}
main .adminNav .sectionDiv .navLink a,
main .adminNav .sectionDiv .navLink p {
  padding: 15px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
}
main .adminNav .sectionDiv .navLink:hover {
  background-color: #374151;
}
main .adminNav .sectionDiv .admin__menu__dropdown:hover .admin__menu__dropdown__container {
  display: block !important;
}
main .adminNav .sectionDiv .admin__menu__dropdown__container {
  position: absolute;
  display: none;
}
main .adminNav .sectionDiv .admin__menu__dropdown__container .admin__menu__dropdown__content {
  position: relative;
  background: #000;
  right: -250px;
  top: -55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
}
main .adminNav .sectionDiv .admin__menu__dropdown__container .admin__menu__dropdown__content .submenu__links {
  width: 100%;
}
main .adminNav .sectionDiv .admin__menu__dropdown__container .admin__menu__dropdown__content .submenu__links a {
  color: #fff;
  padding: 10px;
}
main .adminNav .sectionDiv .admin__menu__dropdown__container .admin__menu__dropdown__content .submenu__links:hover {
  background-color: #374151;
}
main .adminNav .sectionDiv .open__dropdown {
  display: block;
}
main .adminNav .admin__logo {
  position: absolute;
  bottom: 0;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
}
main .adminNav .admin__logo img {
  width: 200px;
}
main .dashboard__container {
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .bg-gray-100 {
    background-color: rgb(243, 244, 246) !important;
  }
}
.tox-statusbar__branding {
  display: none !important;
}/*# sourceMappingURL=admin.css.map */