
main {
    min-height: inherit;
    margin-top: -65px;
    display: flex;
    .dashboard__container {
        margin-top: 65px;
    }
    .container {
        max-width: 100%!important;
        display: flex;
        justify-content: flex-end;
        .pagesContainer {
            width: calc(100% - 250px);
            padding: 20px;
            table {
                margin-top: 20px;
            }
        }
        .formContainer {
            width: calc(100% - 250px);
        }
          
        table {
            tbody {
                tr {
                    .mediaData {
                        height: 4rem;
                        padding: 0.5rem 1rem;
                        max-width: min-content;
                        .mediaFile {
                            max-width: 100%;
                            object-fit: cover;
                            width: 200px;
                            height: 100px;
                        }
                    }
                }
            }
        }
    }
    .adminNav {
        width: 250px;
        top: 64px;
        min-height: inherit;
        background-color: #000;
        .dashboard__div {
            display: flex;
            justify-content: flex-start;
            width: 100%;
            margin: 20px 0px;
            padding: 10px 0px;
            a {
                color: #fff;
                text-decoration: none;
            }
        }
        .sectionDiv {
            width: 100%;
            max-height: 75%;
            overflow-y: auto;
            #general {
                text-decoration: underline;
                width: 100%;
                padding: 10px;
            }
            p {
                padding: 10px 0px;
                color: #9ca3af;
                font-size: 14px;
                
            }
            .navLink {
                a {
                    padding: 15px;
                    color: #fff;
                    display: flex;
                } 
            }
            .navLink:hover {
                background-color: #374151;
            }
        }
        .logoutDiv {
            background-color: #ef4444;
            width: 100%;
            margin-top: 30px;
            a {
                padding: 15px;
                color: #fff;
                display: flex;
                justify-content: center;
                font-weight: bold;
                width: 100%;
            }
        }
        .logoutDiv:hover {
            filter: contrast(65%);
        }
        .admin__logo {
            position: absolute;
            bottom: 80px;
            width: inherit;
            display: flex;
            justify-content: center;
            img {
                width: 200px;
            }
        }
    }
}


@media (prefers-color-scheme: dark) {
    .bg-gray-100 {
        background-color: rgb(243 244 246)!important;
    }
}

.tox-statusbar__branding {
    display: none!important;
}