.automatic__emails__container {
    width: 100%;

    .automatic__emails__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        padding: 10px;
        .form__container {
            width: 100%;
            max-width: 100%;
            border: 3px solid black;
            border-radius: 10px;
            padding: 20px;

            .acc__container {
                display: flex;
                justify-content: space-between;
                align-items: center;

                padding: 20px 10px;
                cursor: pointer;

                h2 {
                    margin: 5px;
                    font-size: 20px;
                    font-weight: bold;
                    display: flex;

                    .fa-envelope {
                        margin-right: 15px;
                        cursor: pointer;
                    }
                }
                
                i {
                    font-size: 25px;
                    cursor: pointer;
                    transition: 0.2s linear;
                }
            }
            .acc__container:hover {
                background-color: lightgray;
            }

            .rotate {
                transform: rotate(180deg);
            }

            .form__target {
                height: 0px;
                overflow: auto;
                transition: 0.2s linear;
            }

            .noHeight {
                height: 0px !important;
            }
        }
    }
}