#main__header {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
#main__header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
#main__header .header__container .left {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#main__header .header__container .left .hbgrContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
  z-index: 200;
}
#main__header .header__container .left .hbgrContainer p {
  margin-top: 3px;
  margin-left: 1px;
  color: white;
  text-align: center;
}
#main__header .header__container .left .hbgrContainer #nav-icon1 {
  width: 50px;
  height: 28px;
  position: relative;
  /* margin: 50px auto; */
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#main__header .header__container .left .hbgrContainer #nav-icon1 span,
#main__header .header__container .left .hbgrContainer #nav-icon3 span,
#main__header .header__container .left .hbgrContainer #nav-icon4 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#main__header .header__container .left .hbgrContainer #nav-icon1 span:nth-child(1) {
  top: 0px;
}
#main__header .header__container .left .hbgrContainer #nav-icon1 span:nth-child(2) {
  top: 13px;
}
#main__header .header__container .left .hbgrContainer #nav-icon1 span:nth-child(3) {
  top: 26px;
}
#main__header .header__container .left .hbgrContainer #nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
#main__header .header__container .left .hbgrContainer #nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
#main__header .header__container .left .hbgrContainer #nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
#main__header .header__container .left .logo__container #lafourmiliere {
  cursor: auto;
  font-family: "fun-sized", sans-serif;
  color: #fff;
  font-size: 25px;
  margin-bottom: 0px;
  letter-spacing: 0.08em;
}
#main__header .header__container .ajax__search__bar form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#main__header .header__container .ajax__search__bar form .search__bar {
  background-color: rgba(255, 255, 255, 0.1647058824);
  width: 400px;
  max-width: 100%;
  border-radius: 30px;
  height: 40px;
}
#main__header .header__container .ajax__search__bar form .fa-search {
  color: #fff;
  position: absolute;
  right: 15px;
  cursor: pointer;
  font-size: 25px;
}
#main__header .header__container .auth__container .auth__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#main__header .header__container .auth__container .auth__content .auth__routes {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
#main__header .header__container .auth__container .auth__content .auth__routes a {
  text-decoration: none;
  color: #fff;
}
#main__header .header__container .auth__container .auth__content .auth__routes #register {
  color: red;
}
#main__header .header__container .auth__container .auth__content .icon__container #icon {
  color: #fff;
  font-size: 35px;
  margin: 5px;
}
#main__header .header__container .notif {
  position: relative;
}
#main__header .header__container .notif i {
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}
#main__header .header__container .notif .notif__int {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  color: #Fff;
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  top: 0;
  cursor: pointer;
}
#main__header .header__container .notif .notifications__center {
  display: none;
  position: absolute;
  z-index: 200;
  top: 60px;
  height: 90vh;
  width: 250px;
  background-color: black;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
#main__header .header__container .notif .notifications__center .notification {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
}
#main__header .header__container .notif .notifications__center .notification .notif__subject {
  list-style-type: none;
  width: 80%;
  text-align: center;
}
#main__header .header__container .notif .notifications__center .notification .unread__visual {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#main__header .header__container .notif .notifications__center .notification .unread__visual .unread__dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 8px !important;
  height: 8px !important;
  border-radius: 100%;
  background-color: yellow;
}
#main__header .header__container .notif .notifications__center .notification:hover {
  background-color: rgba(128, 128, 128, 0.238);
}
#main__header .header__container .open__notif {
  display: block !important;
}
#main__header .slide__menu {
  position: absolute;
  z-index: 500;
  left: 0;
  top: 100px;
  width: 400px;
  height: calc(100vh - 100px);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: translateX(-400px);
          transform: translateX(-400px);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
#main__header .slide__menu .sortable__list {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#main__header .slide__menu .sortable__list .parent__item,
#main__header .slide__menu .sortable__list .no__child__item {
  padding: 10px 0px;
  font-size: 20px;
  color: #fff;
}
#main__header .slide__menu .sortable__list .child__item {
  font-size: 16px;
}
#main__header .slide__menu .sortable__list a {
  color: #fff;
  text-decoration: none;
}
#main__header .slide__menu .sortable__list a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}
#main__header .slide__menu .sortable__list .parent__item i {
  margin-left: 10px;
}
#main__header .slide__menu .child__list {
  margin-left: 10px;
}
#main__header .translate {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}
#main__header .breadcrumb__container {
  position: absolute;
  top: 100px;
  height: 70px;
  width: 100%;
  background-color: #000;
}/*# sourceMappingURL=header.css.map */