

#main__header {
    height: 80px;
    background-color: #000;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .header__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        .logo {
            width: fit-content;

            img {
                height: 75px;
            }
        }

        .notif {
            position: relative;
       
            i {
                font-size: 40px;
                color: #fff;
                cursor: pointer;
            }
            .notif__int {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                color: #Fff;
                background-color: red;
                width: 20px;
                height: 20px;
                border-radius: 100%;
                top: 0;
                cursor: pointer;
            }
            .notifications__center {
                display: none;
                position: absolute;
                z-index: 200;
                top: 60px;
                height: 90vh;
                width: 250px;
                background-color: black;
                border-radius: 5px;
                box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
                .notification {
                    color: #fff;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    height: 75px;
                    .notif__subject {
                        list-style-type: none;
                        width: 80%;
                        text-align: center;
                    }
                    .unread__visual {
                        width: fit-content;
                        .unread__dot {
                            display: flex;
                            width: 8px!important;
                            height: 8px!important;
                            border-radius: 100%;
                            background-color: yellow;
                        }
                    }
                }
                .notification:hover {
                    background-color: rgba(128, 128, 128, 0.238);
                }
            }
        }
        .open__notif {
            display: block!important;
        }
       
    }
}

.container {
    width: 100%;
}

.main__container {
    width: 100%;
    margin: 0px auto;
}